.footer.footer--disable {
  display: none;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}

.footer-button {
  margin: 0 12px;
}

.footer-button.footer-button--disable {
  display: none;
}

.footer-button.footer-button--enable {
  display: block;
}
